@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* GLOBAL RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

img {
    display: block;
    max-width: 100%;
}

button {
    font: inherit;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-primary {
    height: 5.2rem;
    background-color: #000;
    padding: 0 6.4rem;
    border-radius: 4rem;
    color: #fff;
    font-weight: 600;
}

.btn-outline {
    height: 5.2rem;
    background-color: #fff;
    padding: 0 6.4rem;
    border-radius: 4rem;
    color: #000;
    font-weight: 600;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* REUSABLE */

.wrapper {
    width: 124rem;
    max-width: 100%;
    margin: 0 auto;
}

/* =========================
   ANNOUNCEMENT BAR
========================= */

.announcement-bar {
    background-color: #000;
    color: #fff;
    font-size: 1.4rem;
}

.announcement-bar__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
}

.announcement-bar p {
    text-align: center;
}

.announcement-bar a {
    color: #fff;
    font-weight: 600;
}

.announcement-bar__close {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

/* =========================
   HEADER
========================= */
.header {
    /* background-color: red; */
    color: #fff;
    font-size: 1.4rem;
}

.header__inner {
    height: 9.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* background-color: bisque; */
    gap: 4rem;
}

.header__nav ul {
    display: flex;
    gap: 2.4rem;
    font-size: 1.6rem;
}

.header__search {
    flex-grow: 1;
    height: 4.8rem;
    background-color: #f0f0f0;
    border-radius: 2.4rem;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.header__search input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

/* =========================
   HERO
========================= */

.hero {
    width: 100%;
    height: 66.3rem;
    background-color: #f0f0f0;
}

.hero__inner {
    height: 66.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* background-color: bisque; */
    gap: 4rem;
}

.hero__content {
    width: 48%;
}

.hero__title {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: -0.05em;
    line-height: 64px;
    margin-bottom: 3.2rem;
}

.hero__discription {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 3.2rem;
}

.hero__numbers {
    display: flex;
    margin-top: 4.8rem;
}

.hero__numbers-title {
    font-size: 4rem;
}

.hero__numbers-discription {
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-top: -0.8rem;
}

.hero__brands {
    padding-right: 3.2rem;
}

.hero__products {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 3.2rem;
}

.hero_customers {
    padding-left: 3.2rem;
}

/* =========================
   BRANDS
========================= */
.brands {
    width: 100%;
    height: 12.2rem;
    background-color: #000;
}

.brands__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
}

/* =========================
   NEW ARRIVALS
========================= */

.new-arrivals {
    width: 100%;
    text-align: center;
}

.new-arrivals__inner {
    padding: 7.2rem 0 6.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.new-arrivals__title {
    font-size: 4.8rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    letter-spacing: -0.04em;
    margin-bottom: 5.6rem;
}

.new-arrivals__products {
    display: flex;
    gap: 2rem;
    margin-bottom: 3.6rem;
}

.product-card {
    flex: 1;
    max-width: 29.5rem;
    text-align: left;
}

.product-card__img {
    width: 100%;
    aspect-ratio: 295 / 298;
    background-color: #f0eeed;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 1.6rem;
}

.product-card__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.product-card__name {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 0.8rem;
}

.product-card__price {
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.2;
}


/* =========================
   TOP SELLING
========================= */

.top-selling {
    width: 100%;
    text-align: center;
}

.top-selling__inner {
    padding: 7.2rem 0 6.4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-selling__title {
    font-size: 4.8rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #000;
    letter-spacing: -0.04em;
    margin-bottom: 5.6rem;
}

.top-selling__products {
    display: flex;
    gap: 2rem;
    margin-bottom: 3.6rem;
}